<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Movies</title>
</head>
<body>
<form action="#" th:action="@{/movieform}" th:object="${movie}" method="post">
    Movie Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" th:field="*{title}" /><br/>
    Year of Release:&nbsp; <input type="text" th:field="*{yearRelease}" /><br/>
    Director: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" th:field="*{director}" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
</body>
</html>